html {
    font-family: sans-serif;
}

/*
.display-container{
    background-color:rgb(100, 100, 100);
    height: 200vh;
    font-size: 1em;
    position: fixed;
}
*/

.display-container {
    width: 300px;
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 3;
    background-color: #fefefe;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.choose-display-checkboxes{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.choose-display-checkboxes label {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    margin-bottom: 0.25rem;
}

.choose-display-checkboxes label:last-child {
    margin-bottom: 0;
}

.map-container{
    background-color: rgb(127, 168, 62);
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

.sum-container {
    padding: 1rem;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    height: calc(100vh - 20px);
    position: absolute;
    width: 20%;
    min-width: 15rem;
    top: 10px;
    z-index: 2;
    left: 55px;
    box-sizing: border-box;
}


.title-container{
    width: 100%;
    /* height: 100%; */
    z-index: 1;
}

.sum-title{
    width: 100%;
    z-index: 1;
    font-size: 2em;

}

.sum-contents{
    width: 100%;
    z-index: 1;
    line-height: 1.5em;
}

